// Specific CSS for your home-page
$color_1: white;

.banner {
	background-size: cover;
	background-position: center;
	padding: 150px 0;
	h1 {
		margin: 0;
		color: $color_1;
		text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
		font-size: 32px;
		font-weight: bold;
    justify-content: center;
	}
	p {
		font-size: 20px;
		color: $color_1;
		opacity: .7;
		text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	}
}


.message {
  font-size: 24px;
  color: #ffffff;
  padding: 10px;

  .typed-cursor {
    opacity: 0;

    &.typed-cursor--blink {
      animation: typedjsBlink 0.7s infinite;
    }
  }
}

@keyframes typedjsBlink {
  50% {
    opacity: 1;
  }
}


.navbar-lewagon {
	justify-content: space-between;
	background: #0E1114;

  .nav-link {
    color: $color_1;
  }

	.navbar-collapse {
		flex-grow: 0;
	}
	.navbar-brand {
		img {
			width: 40px;
		}
	}
}

.navbar-title {
  font-family: Arial, sans-serif; // Change this to the font you want
  color: rgb(224, 224, 224); // Change this to the color you want
}



.navbar-nav {
  .nav-link {
    &.active {
      color: #bdc1c4;
    }
    &:hover {
      color: white !important;
    }
    &:not(.active) {
      color: #dee2e6;
    }
    &:hover {
      color: white !important;
    }
  }
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 25px ;
  grid-gap: 25px;

  .card-category {
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color_1;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}
